{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div style="position: absolute; background-repeat:no-repeat; background-size: cover; min-width: 100%; min-height: 100%; background-image: url('/media/irctc-img.jpeg'); opacity: 0.3;">
        
    </div>
    <div style="min-width: 100%; padding: 50px; font-size: large; border: 1px black; position: absolute; z-index: 999;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col">Journey Type</th>
                </tr>
            </thead>
            <tbody>
                {% for journey in user_journeys %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{journey.origin__name}}</td>
                        <td>{{journey.destination__name}}</td>
                        {% if journey.journey_type == 'single' %}
                            <td>Single</td>
                        {% else %}
                            <td>Open Return</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
    </div>
{% endblock %}